<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Swarm Logs</title>
    <link href="https://objects.ruanbekker.com/assets/css/standard/bootstrap.min.css" rel="stylesheet">
    <link href="https://objects.ruanbekker.com/assets/css/standard/justified-nav.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="masthead">
        <nav>
          <ul class="nav nav-justified">
            <li><a href="/list">List Services</a></li>
            <li><a href="/describe">Describe Service</a></li>
	    <li class="active"><a href="/logs">Get Logs</a></li>
            <li><a href="/cloudwatch">Cloudwatch</a></li>
          </ul>
        </nav>
      </div>

      <br>

      <br>
      <div class="container">
      </div>
      <h2> Running Containers Found: {{ number }}</h2> <br>
         <table class="table">
           <thead>
             <tr>
	       <th>Service Name</th>
               <th>Container Name</th>
               <th>Logs</th>
             </tr>
           </thead>

{% for r in data %}
           <tbody>
             <tr>
	       <td>{{ app_name }}</td>
               <td>{{ r }}</td>
	       <td><a target="_blank" href="https://eu-west-1.console.aws.amazon.com/cloudwatch/home?region={{ aws_region }}#logStream:group={{ cloudwatch_log_stream }};prefix={{ r }};streamFilter=typeLogStreamPrefix">AWS CloudWatch Logs</a></td>
             </tr>
           </tbody>
{% endfor %}
         </table>
  </body>
</html>
