<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Swarm Logs</title>
    <link href="https://objects.ruanbekker.com/assets/css/standard/bootstrap.min.css" rel="stylesheet">
    <link href="https://objects.ruanbekker.com/assets/css/standard/justified-nav.css" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/filter.js') }}"></script>
  </head>

  <body>
    <div class="container">
      <div class="masthead">
        <nav>
          <ul class="nav nav-justified">
            <li class="active"><a href="/">List Services</a></li>
            <li><a href="/describe">Describe Service</a></li>
	    <li><a href="/logs">Get Logs</a></li>
            <li><a href="/cloudwatch">Cloudwatch</a></li>
          </ul>
        </nav>
      </div>

      <br>

      <br>
      <div class="container">
      </div>
      <h2> Running Services: {{ number }}</h2> <br>
      <div class="form-group">
        <input type="text" id="UserInput" onkeyup="SearchAndFilterThingy({apps})" class="form-control input-lg" autocomplete="off" name="input" placeholder="Search"  autofocus>
      </div>
      <br>
         <table class="table" id="ServicesTable">
           <thead>
             <tr class="header">
	       <th>Service Name</th>
               <th>Describe Service</th>
             </tr>
           </thead>

{% for app in apps %}
           <tbody>
             <tr>
	       <td>{{ app }}</td>
	       <td><a href="http://127.0.0.1:5000/describe/{{ app }}">{{ app }}</a></td>
             </tr>
           </tbody>
{% endfor %}
         </table>
    </div>
  </body>
</html>

